# Ignore hidden metadata files
._*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Rplot default output
Rplots.pdf

# recount2 data from figshare
data/recount2_PLIER_data

# other data from greenelab/rheum-plier-data
data/expression_data/E-MTAB-2452_hugene11st_SCANfast.pcl
data/expression_data/GSE18885_series_matrix.txt
data/expression_data/NARES_SCANfast_ComBat.pcl
data/expression_data/SLE_WB_all_microarray_QN_zto_before.pcl
data/expression_data/ERCB_Glom_CustCDF19_forVCRC.txt
data/expression_data/DIPG_E-GEOD-26576_hgu133plus2_SCANfast.pcl
data/expression_data/GSE50021_series_matrix.txt
data/expression_data/GSE37382_SCAN.pcl
data/expression_data/GSE37418.tsv
data/sample_info/E-GEOD-39088.sdrf.txt
data/sample_info/E-GEOD-65391.sdrf.txt
data/sample_info/E-GEOD-78193.sdrf.txt
data/sample_info/E-MTAB-2452.sdrf.txt
data/sample_info/NARES_demographic_data.tsv
data/sample_info/sle-wb_sample_dataset_mapping.tsv
data/sample_info/ERCB_glom_diagnosis.tsv
data/sample_info/E-GEOD-26576.sdrf.txt
data/sample_info/GSE37382_cleaned_metadata.tsv
data/sample_info/metadata_GSE37418.tsv

# private data
data/kidney/
data/rtx/

# very large file -- SRAdb data
SRAmetadb.sqlite

# MetaSRA data
data/sample_info/metasra.v1-4.json

# PLIER models from subsampling/subsetting experiments -- some are too large
# for git lfs
models/
